fastapi
uvicorn
python-multipart
psycopg2-binary
python-docx==1.1.0
requests
langchain
langchain-community
langchain-ollama
langchain-postgres
langchain-text-splitters
fastembed>=0.2.0
docx2txt
numpy
pgvector
pypdf
pymupdf
nltk
spacy
scikit-learn
pandas
joblib
pillow
